.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    text-decoration: none;
    padding: 8px;
    margin: 0.5rem 0 0.5rem 1rem;
}

.header-menu NavLink {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid transparent;
    margin: 0 0.5rem 0;
} 

/* .header-menu ul li a:hover{
    color: rgb(203, 229, 8);
} */

.activo{
    color: rgb(203, 229, 8);
}