.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: cadetblue;
    width: 500px;
    height: 300px;
    gap: 10px;
}

.ciudad {
    display: flex;
    width: 24%;
    height: 24%;
}

.card_image{
    border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

.card_title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}